body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}



header{
    background-image: url(../img/fondo-abstracto-azul-formas-geometricas_1035-17545.avif);
    background-size: cover;
}

#dinero{
    height: 60px;
}


.chart{
    width: 100%;
    min-height: 500px;
}

#datos{
    max-height: 300px;
    overflow: scroll;
}

#eliminar{
    width: 60px;
    height: 45px;
}